ipykernel
umap-learn
anndata
holoviz
pytorch
torchvision
rdkit
plotly
scikit-learn
scikit-image
tqdm
seaborn
matplotlib
rdkit
numpy
pandas
scipy
statsmodels
networkx
toolz
bokeh
watermark
multiprocess
blackcellmagic
